<div class="container mt-2">
  <div class="row">
    <div class="col">
      <a href="/houses">
        <img src="/images/logo-airbnb.png" alt="logo of Airbnb" />
      </a>
    </div>
    <div class="col text-end">
      <form>
        {{#if user}}
          <button class="btn btn-outline-secondary"><img src="https://randomuser.me/api/portraits/women/11.jpg" class="tiny rounded-circle" />{{ user.name }}</button>
          <a href="/auth/logout" class="btn btn-outline-secondary">Log Out</a>
        {{else}}
          <a href="/auth/login" class="btn btn-outline-secondary">Log In</a>
        {{/if}}
    </form>
    </div>
  </div>
</div>