{{>nav}}

<div class="container">
  <div class="bg-danger p-3 mt-3 mb-3 text-dark-red bg-opacity-25 rounded">
    {{message}}
  </div>
  <span>{{error.stack}}</span>
  <ul>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt,
      quia.
    </li>
    <li>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque,
      cupiditate.
    </li>
    <li>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur,
      mollitia?
    </li>
  </ul>
</div>