<div class="bg">
  <div
    class="card pt-5 position-absolute top-50 start-50 translate-middle"
    style="width: 20rem"
  >
  <form>
    <img
      src="/images/logo-airbnb.png"
      class="card-img-top pt-5 position-absolute top-0 start-50 translate-middle-x"
      alt="..."
    />
    <div class="card-body pt-5">
      
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Password</label
          >
          <input
            type="password"
            class="form-control"
            aria-describedby="emailHelp"
          />
        </div>
        <button type="button" class="btn btn-success mb-3">Login</button>
      </form>
      <div>
      <span>New to AirBnB?</span>
      <a href="about.html">Sign Up</a>
    </div>
    </div>
  </div>
</div>