{{>nav user=user}}

<!-- content -->
<div class="content">
  <div class="container mt-5">
    <h2>Edit A House</h2>
    <form>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Short Title</label
        >
        <input
          type="email"
          class="form-control"
          placeholder="Luxury Villa In Chaweng"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Description</label
        >
        <textarea
          class="form-control"
          rows="3"
          placeholder="lorem"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Number of Rooms</label
        >
        <input type="number" placeholder="4" class="form-control />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Location</label
        >
        <select class="form-select" aria-label="Default select example">
          <option selected>Koh Samui</option>
          <option value="1">Koh Phangan</option>
          <option value="2">Bali</option>
          <option value="3">Phuket</option>
        </select>
      </div>
      <label for="basic-url" class="form-label">Price (per Night)</label>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input
          type="number"
          class="form-control"
          aria-describedby="basic-addon3"
          placeholder="350"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Add Photos (up to 9)</label
        >
        <input
          type="text"
          class="form-control mt-1"
          placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
        />
        <input
          type="text"
          class="form-control mt-1"
          placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
        />
        <input
          type="text"
          class="form-control mt-1"
          placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
        />
        <input
          type="text"
          class="form-control mt-1"
          placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
        />
        <input
          type="text"
          class="form-control mt-1"
          placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
        />
        <input
          type="text"
          class="form-control mt-1"
          placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
        />
        <input
          type="text"
          class="form-control mt-1"
          placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
        />
        <input
          type="text"
          class="form-control mt-1"
          placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
        />
        <input
          type="text"
          class="form-control mt-1"
          placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
        />
      </div>
      <button type="button" class="btn btn-success">Save Changes</button>
      <button type="button" class="btn btn-danger d-block mt-2">
        Delete House
      </button>
    </form>
  </div>
</div>