<div class="container mt-2">
  <div class="row">
    <div class="col">
      <img src="/images/logo-airbnb.png" alt="logo of Airbnb" />
    </div>
    <div class="col text-end">
      <form>
        <button type="button" class="btn btn-outline-secondary">
          <img src="https://randomuser.me/api/portraits/women/11.jpg"
          class="tiny rounded-circle" />Kimmy
        </button>
        <button type="button" class="btn btn-outline-secondary">
          Log Out
        </button>
      </form>
    </div>
  </div>
</div>

<!-- filter -->
<div class="filter bg-light pt-2">
  <div class="container">
    <form>
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text"
              ><i class="fa-solid fa-location-dot"></i
            ></span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Any Location</option>
              <option value="1">Koh Samui</option>
              <option value="2">Koh Phangan</option>
              <option value="3">Bali</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text"
              ><i class="fa-solid fa-house-chimney"></i
            ></span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Any Rooms</option>
              <option value="1">1 Room</option>
              <option value="2">2 Rooms</option>
              <option value="3">3 Rooms</option>
              <option value="4">4 Rooms</option>
              <option value="5">5 Rooms</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input
              type="number"
              class="form-control"
              placeholder="max price"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Price (low to high)</option>
              <option value="1">Price (high to low)</option>
            </select>
          </div>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="House name..."
            aria-label="First name"
          />
        </div>

        <div class="col">
          <button type="button" class="btn btn-success">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- cards -->
<div class="cards pt-2">
  <div class="container">
    <div class="row row-cols-4 g-4 pt-2">
      <div class="col">
        <div class="card" style="width: 16rem">
          <img
            src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <small>Koh Samui 4 Rooms</small>
            <h5 class="card-title">
              <a href="">Luxury Villa In Chaweng</a>
            </h5>
            <a href="#" class="stretched-link"></a>
            <div class="row">
              <div class="col">
                <i class="thup fa-solid fa-thumbs-up"></i>3 Reviews
              </div>
              <div class="col">$350/night</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem">
          <img
            src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <small>Koh Phangan 3 Rooms</small>
            <h5 class="card-title">
              <a href="">Private Villa Lotus 1</a>
            </h5>
            <a href="#" class="stretched-link"></a>
            <div class="row">
              <div class="col">
                <i class="thup fa-solid fa-thumbs-up"></i>1 Reviews
              </div>
              <div class="col">$150/night</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem">
          <img
            src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2003/house_03_01.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <small>Bali 3 Rooms</small>
            <h5 class="card-title">
              <a href="">Seminyak KuDeTa</a>
            </h5>
            <a href="#" class="stretched-link"></a>
            <div class="row">
              <div class="col">
                <i class="thdown fa-solid fa-thumbs-down"></i>2 Reviews
              </div>
              <div class="col">$120/night</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem">
          <img
            src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2006/house_06_01.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <small>Bali 5 Rooms</small>
            <h5 class="card-title">
              <a href="">5 Bed Villa Canggu</a>
            </h5>
            <a href="#" class="stretched-link"></a>
            <div class="row">
              <div class="col">
                <i class="thup fa-solid fa-thumbs-up"></i>1 Reviews
              </div>
              <div class="col">$250/night</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem">
          <img
            src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2004/house_04_01.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <small>Koh Phangan 2 Rooms</small>
            <h5 class="card-title">
              <a href="">Archie Village House</a>
            </h5>
            <a href="#" class="stretched-link"></a>
            <div class="row">
              <div class="col">
                <i class="thup fa-solid fa-thumbs-up"></i>1 Reviews
              </div>
              <div class="col">$80/night</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem">
          <img
            src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2005/house_05_01.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <small>Koh Phangan 6 Rooms</small>
            <h5 class="card-title">
              <a href="">Luxury 6 Beds Villa</a>
            </h5>
            <a href="#" class="stretched-link"></a>
            <div class="row">
              <div class="col">0 Reviews</div>
              <div class="col">$150/night</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem">
          <img
            src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2008/house_08_01.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <small>Koh Phangan 4 Rooms</small>
            <h5 class="card-title">
              <a href="">Narivana Koh Phangan</a>
            </h5>
            <a href="#" class="stretched-link"></a>
            <div class="row">
              <div class="col">0 Reviews</div>
              <div class="col">$100/night</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>