{{>nav user=user}}

<!-- filter -->
<div class="filter bg-light pt-2">
  <div class="container">
    <form>
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text"
              ><i class="fa-solid fa-location-dot"></i
            ></span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Any Location</option>
              <option value="1">Koh Samui</option>
              <option value="2">Koh Phangan</option>
              <option value="3">Bali</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text"
              ><i class="fa-solid fa-house-chimney"></i
            ></span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Any Rooms</option>
              <option value="1">1 Room</option>
              <option value="2">2 Rooms</option>
              <option value="3">3 Rooms</option>
              <option value="4">4 Rooms</option>
              <option value="5">5 Rooms</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input
              type="number"
              class="form-control"
              placeholder="max price"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Price (low to high)</option>
              <option value="1">Price (high to low)</option>
            </select>
          </div>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="House name..."
            aria-label="First name"
          />
        </div>
        <div class="col">
          <button class="btn btn-success">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- cards -->
<div class="cards pt-2">
  <div class="container">
    <div class="row row-cols-4 g-4 pt-2">
      {{#each houses as |house|}}
      <div class="col">
        <div class="card" style="width: 16rem">
          <img
            src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <small>{{house.location}} {{house.rooms}}Rooms</small>
            <h5 class="card-title">
              <a href="">{{house.title}}</a> 
            </h5>
            <a href="#" class="stretched-link"></a>
            <div class="row">
              <div class="col">
                <i class="thup fa-solid fa-thumbs-up"></i>3 Reviews
              </div>
              <div class="col">${{house.price}}/night</div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>