{{>nav}}

<!-- pictures -->
<div class="pictures border-bottom border-top mt-2">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img class="bigpic"
        src=https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png
        />
      </div>
      <div class="pc col-6">
          <div class="row text-end row-cols-3 g-3 img-fluid pt-3">
            <div class="sp col">
              <img class="smallpic"
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
              />
            </div>
            <div class="sp col">
              <img class="smallpic"
              src=https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_02.png
              />
            </div>
            <div class="sp col">
              <img class="smallpic"
              src=https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_03.png
              />
            </div>
            <div class="sp col">
              <img class="smallpic"
              src=https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_04.png
              />
            </div>
            <div class="sp col">
              <img class="smallpic"
              src=https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_05.png
              />
            </div>
            <div class="sp col">
              <img class="smallpic"
              src=https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_06.png
              />
            </div>
            <div class="sp col">
              <img class="smallpic"
              src=https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_07.png
              />
            </div>
            <div class="sp col">
              <img class="smallpic"
              src=https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_08.png
              />
            </div>
            <div class="sp col">
              <img class="smallpic"
              src=https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_09.png
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- content -->
<div class="container">
  <div class="row">
    <!-- Left -->
    <div class="col-8 pt-5 ">
      <h1>Luxury Villa In Chaweng</h1>
      <span><i class="fa-solid fa-location-dot"></i> Koh Samui 4 Rooms</span>
      <div class=" rev container mt-5 text-start">
        <div class="row">
          <div class="col-1">
            <img src=https://randomuser.me/api/portraits/men/11.jpg class="rounded-circle img-fluid d-flex align-items-center pt-2"/>
          </div>
          <div class="col-11 mb-3">
          <span>Hosted by</span>
          <h6>Florian Klink</h6>
          </div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla quidem, odit optio illo suscipit porro ut sint qui sit dolore quisquam voluptate facilis cupiditate autem expedita nostrum magnam vel! Asperiores libero officiis accusantium quos minima porro velit atque ullam eum. Expedita sint nam omnis totam voluptate veniam cumque natus tenetur!</p>
          <h2>0 Reviews</h2>
          <form>
            <label>Leave a Review</label>
            <div class="mb-3">
              <textarea class="form-control mb-1" rows="6"></textarea>
              <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-thumbs-up"></i></button>
              <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-thumbs-down"></i></button>
              <button class="btn btn-success d-block mt-1">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Middle -->
    <div class="col-1"></div>
    <!-- Right -->
    <div class="col-3 pt-5">
      <div class="card" style="width: 16rem;">
        <div class="cb card-body">
          <h5 class="card-title">$350/night</h5>
          <small>0 Reviews</small>
          <form>
            <div class="mt-3">
              <textarea class="form-control" rows="5" placeholder="Send the host a message"></textarea>
              <button type="button" class="btn btn-success mt-2">Request Booking</button>
            </div>
          </form>
        </div>
    </div>
  </div>
  </div>
</div>